/* Adiciona a fonte Patrick Hand */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: ; /* Adicione uma cor de fundo se necessário */
  color: white;
  font-family: 'Patrick Hand'; /* Fonte infantil */
  margin: 0;
  padding: 0;
  background: url('TelaDeFundo.png') center no-repeat fixed; /* Ajusta a imagem para cobrir toda a área visível */
  background-size: cover;
}

.logo {
  margin-bottom: 30px;
}

.PlacaJogar {
    position: absolute; /* Permite posicionamento livre */
    top: 20%; 
    left: 50%; /* Posição inicial a 50% da largura */
    transform: translate(-50%, -50%); /* Centraliza a imagem no ponto (50%, 50%) */
    height: 110px; /* Altura da imagem do logo */
    width: 180px; /* Largura da imagem do logo */
}

.PlacaFases {
    position: absolute; /* Permite posicionamento livre */
    top: 55%; 
    left: 50%; /* Posição inicial a 50% da largura */
    transform: translate(-50%, -50%); /* Centraliza a imagem no ponto (50%, 50%) */
    height: 110px; /* Altura da imagem do logo */
    width: 180px; /* Largura da imagem do logo */
}

.PlacaTutorial {
    position: absolute; /* Permite posicionamento livre */
    top: 85%; 
    left: 50%; /* Posição inicial a 50% da largura */
    transform: translate(-50%, -50%); /* Centraliza a imagem no ponto (50%, 50%) */
    height: 110px; /* Altura da imagem do logo */
    width: 180px; /* Largura da imagem do logo */
}

.audio-button {
  position: absolute; /* Permite posicionamento livre */
  top: 10%; /* Ajuste a posição vertical conforme necessário */
  right: 5%; /* Ajuste a posição horizontal conforme necessário */
  height: 50px; /* Altura da imagem do botão de som */
  width: 50px; /* Largura da imagem do botão de som */
  cursor: pointer; /* Muda o cursor ao passar sobre a imagem */
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os botões horizontalmente */
  gap: 20px; /* Espaçamento entre os botões */
  margin-bottom: 40px;
}

.buttons button {
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  color: black; /* Cor do texto preto */
  background-color: #f8e505; /* Cor de fundo amarela */
  border: 2px solid black; /* Borda preta */
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
  font-family: 'Patrick Hand'; /* Fonte infantil */
}

.buttons button:hover {
  transform: scale(1.1);
}
