/* Adiciona a fonte Patrick Hand */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Estilo para a imagem de fundo */
body {
    margin: 0;
    padding: 0;
    background-image: url('QuartoGamer.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar a página */
    font-family: 'Patrick Hand'; /* Fonte infantil */
}

.RpgTextBox {
    position: fixed;
    bottom: 10px; /* Colado à parte inferior da tela */
    left: 10px; /* Colado à parte esquerda da tela */
    width: 90%; /* Responsivo - ocupa 90% da largura da tela */
    max-width: 600px; /* Limite de largura para telas maiores */
    padding: 20px;
    background-color: white; /* Fundo branco */
    border: 2px solid white; /* Borda branca */
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
    z-index: 1000;
    overflow: hidden;
    user-select: none;
    cursor: move; /* Cursor de movimento */
}

.RpgText {
    white-space: pre-wrap; /* Preserva quebras de linha */
    overflow: hidden; /* Esconde o texto que ainda não foi digitado */
}

.ButtonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.RpgButton {
    padding: 10px 20px;
    background-color: #f8e505; /* Cor de fundo amarela */
    border: 5px solid white;
    border-radius: 90px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.RpgButton:hover {
    transform: scale(1.1);
}

.ButtonGroup a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Usa a cor do texto do botão */
}


.RitaGamerImage {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25%; 
    max-width: 300px; 
    height: auto;
    cursor: move;
    z-index: 1000;
}

