/* Adiciona a fonte Patrick Hand */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Patrick Hand'; /* Fonte infantil */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9064b;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    border-radius: 15px;
}

.carousel-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .carousel-container {
        width: 95%;
    }

    .carousel-counter {
        font-size: 12px;
        padding: 4px 8px;
    }

    .carousel-button {
        padding: 8px;
        font-size: 16px;
    }
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    padding: 0 20px;
}

.button {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
